.red {
    color: red;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .button {
    border: 1px solid blue;
    padding: 40px 20px 40px 20px;
    background-color: green;
    font: inherit;
    color: white;
    font-weight: bold;

  }
  
  .button:hover {
    background-color: lightgreen;
    color: black;
  }
  
  .buttonRed {
    background-color: red;
    border: 1px solid blue;
    padding: 40px 20px 40px 20px;
    padding: 16px;
    font: inherit;
    color: white;
    cursor:pointer;
  
  }
  
  .buttonRed:hover {
    background-color: salmon;
    color: black;
  }