.red {
    color: red;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .button {
    border: 5px solid black;
    border-radius: 8px;
    padding: 20px;
    background-color: green;
    font: inherit;
    color: white;
    font-weight: bold;
    outline: none;

  }
  
  .button:hover {
    background-color: lightgreen;
    color: black;
    border: 2px solid black;
  }
  
  .buttonRed {
    background-color: red;
    border: 5px solid black;
    border-radius: 8px;
    padding: 40px;
    padding: 16px;
    font: inherit;
    color: white;
    cursor:pointer;
    outline: none;
  
  }
  
  .buttonRed:hover {
    background-color: salmon;
    color: black;
  }