.userOutput {
    font-size: 20px;
    background-color: peachpuff;
    text-align: center;
    width: 50%;
    margin-left: 23%;
    border: solid black 5px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
}

.userNameOutput {
    text-decoration: underline;

}