.Person {
    width: 40%;
    margin: 16px auto;
    border: 1px solid black;
    box-shadow: 0 2px 3px rgba(204, 204, 204, 0.406);
    padding: 12px;
    text-align: center;
    font-weight: bold;
    background-color: rgb(5, 201, 201);
}

@media (min-width: 500px) {
    .Person {
        width: 450px;
    }
}